async_modbus >= 0.2.2
async_timeout >= 4.0.0
black==26.1.0
construct >= 2.10.0, < 3.0.0
coverage>=6.0.0
exceptiongroup >= 1.0.0
isort>=5.0.0

pandas>=1.0.5
pre-commit==4.5.1
pytest
pytest-asyncio
python-slugify>=4.0.0
tenacity >= 8.0.0

tox>=3.0.0
